<div id="carouselExampleIndicators" class="carousel slide my-4 card" data-ride="carousel">
    <!-- Page Content -->
    <div class="container">

        <div class="row">
            <div class="col-md-4">
                <h4 class="font-weight-light text-center text-lg-left mt-4 mb-0">Category Gallery</h4>
            </div>
            <div class="col-md-8">
                <div class="form-group">
                    <div class="col-sm-10">
                        <select class="form-control" name="sort" id="sort" (change)="filterCategory($event.target.value)">
                            <option value="0">Select Category</option>
                            <option *ngFor="let category of categories" value="{{ category.id }}">{{category.name}}</option>
                        </select>
                     </div>
                </div>
            </div>
        </div>

        <hr class="mt-2 mb-5">

        <div class="row text-center text-lg-left">

            <div class="col-lg-3 col-md-4 col-6"
                *ngFor="let image of images | paginate: { itemsPerPage: 8, currentPage: p }">
                <a href="#" class="d-block mb-4 h-100">
                    <img class="img-fluid img-thumbnail" [src]="image" alt="" style="width: 200px; height: 200px;">
                </a>
            </div>

        </div>
        <div class="row">
            <div class="col-md-6">
                <button class="btn btn-secondary" (click)="onBack()" style="width: 80px;">
                    <i class="fa fa-chevron-left">Back</i>
                </button>
            </div>
            <div class="col-md-6">
                <pagination-controls (pageChange)="p = $event"></pagination-controls>
            </div>
        </div>
    </div>
    <!-- /.container -->
</div>