<!-- Page Content -->
<div class="container">

    <h1 class="font-weight-light text-center text-lg-left mt-4 mb-0">{{ product }} Gallery</h1>

    <hr class="mt-2 mb-5">

    <div class="row text-center text-lg-left">

        <div class="col-lg-3 col-md-4 col-6" *ngFor="let image of productImages | paginate: { itemsPerPage: 10, currentPage: p }">
            <a href="#" class="d-block mb-4 h-100">
                <img class="img-fluid img-thumbnail" [src]="image" alt="">
            </a>
        </div>

    </div>
    <div class="row">
        <div class="col-md-6">
            <button class="btn btn-secondary" (click)="onBack()" style="width: 80px;">
                <i class="fa fa-chevron-left">Back</i>
            </button>
        </div>
        <div class="col-md-6">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>
<!-- /.container -->