<!-- Navigation -->
<app-navbar></app-navbar>

<!-- Page Content -->
<div class="container">
  <div class="row">
    <div class="col-lg-3">
      <app-sidebar></app-sidebar>
    </div>
    <div class="col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
<!-- /.container -->