<h1 class="my-4">{{ projectName }}</h1>
<div class="list-group" *ngFor="let category of categories; let i = index">
    <a (click)="sendMessage(category.id,category.name)" (click)="activeProject(i)" [ngStyle]="{'background-color': activeProjectIndex === i ? '#32a852' : 'white' }" class="list-group-item" [routerLink]="['']">{{ category.name }}</a>
</div>