<div id="carouselExampleIndicators" class="carousel slide my-4 card" data-ride="carousel">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h4>{{ category }}</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <app-products></app-products>
    </div>
</div>