<div id="carouselExampleIndicators" class="carousel slide my-4 card" data-ride="carousel">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h4>{{ category }}</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-md-2">Filter by :</div>
            <div class="col-md-4">
                <input type="text" [(ngModel)]="listFilter">
            </div>
        </div>
        <div class="table-responsive">
            <table class="table" *ngIf="products && products.length">
                <thead>
                    <tr>
                        <th>
                        </th>
                        <th>Product</th>
                        <th>Code</th>
                        <th>Available</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let product of filteredProducts | paginate: { itemsPerPage: 5, currentPage: p }">
                        <td>
                            <img [src]="product.imageUrl" [title]="product.name" [style.width.px]="imageWidth"
                                [style.margin.px]="imageMargin">
                        </td>
                        <td>
                            <a [routerLink]="['/products', product.id]">{{ product.name }}</a>
                        </td>
                        <td>{{ product.code | uppercase }}</td>
                        <td>{{ product.available }}</td>
                        <td>{{ product.price | currency:'USD':'symbol':'1.2-2' }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div id="paginate">
            <pagination-controls (pageChange)="p = $event"></pagination-controls>
        </div>
    </div>
</div>