<div id="carouselExampleIndicators" class="carousel slide my-4 card" data-ride="carousel">
    <div class="card-header">
        <div class="row">
            <div class="col-md-8">
                <h4>Watch Details</h4>
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row" *ngIf="product">
            <div class="col-md-6">
                <h4 class="card-title">{{ product.name }}</h4>
                <p class="card-text">{{ product.available }}</p>
                <p class="card-text">{{ product.price | currency:'USD':'symbol':'1.2-2' }}</p>
                <button class="btn btn-primary" [routerLink]="['/productImages',product.id]">Show Images</button>
            </div>
            <div class="col-md-6">
                <img class="card-img-top" [src]="product.imageUrl" alt="Card image" style="width: 128px; height: 128px;">
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-secondary" (click)="onBack()" style="width: 80px;">
            <i class="fa fa-chevron-left">Back</i>
        </button>
    </div>
</div>